<div id="top-index">
  <a href="http://wiki.stoa.usp.br" class="top-link" id="top-wiki" title="Para criação de conteúdos colaborativos juntamente com outros usuários do Stoa."><span>Wiki</span></a>
  <a href="http://disciplinas.stoa.usp.br" class="top-link" id="top-moodle" title="Modo simples para os docentes disponibilizarem conteúdos. Tudo integrado aos sistemas Júpter e Janus."><span>Moodle</span></a>
  <a href="/" id="top-logo"><span>Stoa</span></a>
</div>
<div id="top-functions-box">
  <div id="top-functions">
    <ul id="menu-top">
      <li>
        <%= browse_people_menu %>
      </li>
      <li>
        <%= browse_communities_menu %>
      </li>
      <li>
        <%= browse_contents_menu %>
      </li>
      <li>
        <a href="/search/events"><span class="icon-menu-events"><%=_('Events')%></span></a>
      </li>
    </ul>
    <form id="busca" action="/search" method="get">
      <input name="query" size="15"
        title="<%=_('Search...')%>"
        placeholder="<%=_('Search...')%>" />
      <div><%=_('Press <strong>Enter</strong> to send the search query.')%></div>
    </form>
  </div>
</div>
